<?xml version="1.0" encoding="utf-8"?>

<launch>

    <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

    <rosparam command="load"
              file="$(find laser_slam_ros)/launch/super_mega_bot/laser_mapper_parameters.yaml"/>

    <!-- laser_mapper node -->
    <include file="$(find laser_slam_ros)/launch/super_mega_bot/laser_mapper.launch">
        <arg name="icp_configuration_file"
             value="$(find laser_slam_ros)/launch/super_mega_bot/icp_dynamic_outdoor.yaml"/>
        <arg name="icp_input_filters_file"
             value="$(find laser_slam_ros)/launch/super_mega_bot/input_filters_outdoor.yaml"/>
    </include>

</launch>